#concept.police
  Concept is simple :
  %img#cake-img{ng-src: "img/cake_home.png"}}
  +
  %img#cake-img{ng-src: "img/kitten_home.png"}}
   = Happiness !

#home-image-container
  %div{ng-controller: "PostController" }
    %a{href: "/#/posts{{post.id}}",ng-repeat: "post in posts"}
      %img.img-posts{ng-src: "img/posts/{{post.filename}}"}}
