.post-container
  .post-title.police
    {{ title }}
  .tags
    {{ tags }}
  .time-data
    {{ datetime }}
  .author
    by {{ author }}
  .comments-container
    .comment-list
      .comment
        %span.comment-author
          José
        : My first comment !
      .comment
        %span.comment-author
          Romain
        : My second comment !
      .comment
        %span.comment-author
          Edouard
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
        : Again another one !
      .comment
        %span.comment-author
          Dimitri
        : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus rhoncus nunc dolor, eget dictum sem aliquam ut. Curabitur mattis vel sed.
    %form
      %input.text-input-comment{placeholder: "Write a comment..."}
      %input.submit-input-comment{type: "submit"}
  %img.img-post{ng-src: "img/posts/{{filename}}"}}
