body {
  background-color: #E6F3F7;
}

.form-control {
  width: 250px;
}

#sign-up {
  margin-right: 10px;
}

.form-group {
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}

@media (min-width: 768px) {
  #search-input {
      width: 400px;
      margin-left: 550px;
  }

  #search {
    display: inline-block;
    float: none !important;
  }
}

.police {
  font-family: 'Indie Flower', cursive;
}

.sign-text {
  font-size: 40px;
}

#concept {
  text-align: center;
  font-size: 35px;
  margin-top: 50px;
}

legend {
  text-align: center;
}

.sign-container {
  margin: auto;
  margin-top: 150px;
  width: 570px;
  background-color: white;
  border: 2px solid #E9E9E9;
  border-radius: 2%;
  padding: 40px;
}

.post-container {
  margin: auto;
  margin-top: 20px;
  margin-left: 315px;
  max-width: 1525px;
  padding: 40px;
}

.input-create-post {
  margin-left: 70px;
  width: 600px;
}

.input-describe {
  height: 200px !important;
}

#submit-sign {
  width: 250px;
  background-color: #8CC6EC;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

#submit-sign:hover {
  background-color: #4AA5E1;
  font-size: 20px;
}

#home-image-container {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}

#cake-img {
  margin-left: 20px;
  margin-right: 20px;
  width: 150px;
  height: 130px;
}

.img-posts {
    display: inline-block;
    min-width:358px;
    min-height:160px;
    max-width:358px;
    max-height:160px;
    margin: 10px;
    width: auto;
    height: auto;
}

.img-post {
  min-width: 865px;
  min-height:450px;
  max-width:865px;
  max-height:450px;
  margin: 10px;
  width: auto;
  height: auto;
  display: inline-block;
}

.post-title-data {
  font-size: 35px;
}

.time-data {
  display: inline-block;
  position: relative;
  left: 553px;
  color: #8F8F8F;
}

.tags {
  display: inline-block;
  position: relative;
  left: 10px;
  color: #3990C9;
  font-weight: bold;
}

.post-title {
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.author {
    display: inline-block;
    float: right;
    position: relative;
    right: 572px;
    color: #8F8F8F;
}

.comments-container {
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  left: 50px;
  top: 30px;
  float: right;
  display: inline-block;
  width: 495px;
  height: 450px;
}

.comment-list {
  overflow: auto;
  width: 495px;
  height: 450px;
}

.comment-author {
  color: #3990C9;
  font-weight: bold;
}

.comment {
  border-bottom: 1px solid #EAEAEA;
  margin: 5px;
}

.submit-input-comment {
  display: none;
}

.submit-input-comment:hover {
  background-color: #4AA5E1;
}

.text-input-comment {
  padding-left: 5px;
  width: 475px;
}
